<!DOCTYPE html>
<html>
<head>
    <title>Calcul </title>
    <style>
        table {
            border-collapse: collapse;
        }
        th{
            border: 1px solid black;
            padding: 8px;
            
        }
    </style>
</head>
<body>
    <h1>Calcul de l'empreinte</h1>
    <form method="post" enctype="multipart/form-data" action="{% url 'calculate_hash' %}">
        {% csrf_token %}
        <label for="file">Fichier :</label>
        <input type="file" name="file">
        <br><br>
        <label for="data">Chaîne de caractères :</label>
        <textarea name="data"></textarea>
        <br><br>
        <input type="submit" value="Calculer">
    </form> 


    <h1>Résultat du calcul de l'empreinte</h1>
<br>
    

    {% if vide == "" %}
    <table>
        <tr>
            <th>Algorithme</th>
            <th>Empreinte</th>
        </tr>

        {% for algorithm, hash_value in results.items %}
        <tr>
            <th>{{ algorithm }}</th>
            <th></th>
        </tr>
        {% endfor %}
    </table>
{% else %}
<table>
    <tr>
        <th>Algorithme</th>
        <th>Empreinte</th>
    </tr>

    {% for algorithm, hash_value in results.items %}
    <tr>
        <th>{{ algorithm }}</th>
        <th style="text-align: justify;">{{ hash_value }}</th>
    </tr>
    {% endfor %}

</table>
{% endif %}

</body>
</html>
